* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Navigation Bar Styles */

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background-color: #111;
    color: #fff;
    z-index: 2;
    transition: 0.5s;
}

.showcase.active {
    right: 300px;
}

.showcase header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.showcase header img {
    width: 90px;
    height: 90px;
    cursor: pointer;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url('../images/menu.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}

.toggle.active {
    background: url('../images/close.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu > .links-wrapper > .nav-link {
    position: relative;
    list-style: none;
    margin-bottom: 30px;
}

.menu > .links-wrapper > .nav-link a {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: #111;
}

.menu > .links-wrapper > .nav-link a:hover {
    color: #cea135;
}

.title {
    position: absolute;
    color: white;
    z-index: 1000;
    width: 100%;
    top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 50px;
}

/* Page Content Styles */

.page-container {
    display: flex;
    padding-top: 100px;
}

.page-container img {
    border-radius: 1em;
    margin-right: 50px;
    height: 750px;
    width: 750px;
    overflow: hidden;
    flex-shrink: 0;
}

.page-container p {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}

/* Parallax Styles */

.parallax {
    /* background-image: url(../images/otis.jpg); */
    position: absolute;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
    left: 0px;
    top: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.textbox {
    position: relative;
    border-radius: 50px;
    background-color: #111;
    padding: 15px;
    display: flex;
    align-items: center;
}

.textbox a {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    position: relative;
    list-style: none;
}

.textbox a:hover{
    color: #cea135;
}


@media(max-width: 798px) {
    .showcase, .showcase header {
        padding: 40px;
    }

    .text h2 {
        font-size: 3em;
    }
}